<!DOCTYPE html>
<html lang="es_PE">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
   <link rel="shortcut icon" href="assets/images/flaticon.png" type="image/x-icon">
   <link rel="stylesheet" href="assets/estilos.css">
   <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
   <title>Biblioteca Virtual</title>
</head>

<body>
   <header class="contenedor" id="inicio">
      <nav>
         <div class="logo">
            <img src="assets/images/logo.png" alt="logo-libros">
         </div>
         <div class="enlaces">
            <ul>
               <li><a href="#inicio">Inicio</a></li>
               <li><a href="#nosotros">Nosotros</a></li>
               <li><a href="?controlador=login&accion=login">Iniciar Sesión</a></li>
               <li><a href="?controlador=login&accion=registro">Registrate</a></li>
            </ul>
         </div>
      </nav>
      <section class="hero">
         <div class="content-left">
            <h2>Biblioteca<br>universitaria...</h2>
            <div class="buscador">
               <p>Has una busqueda rápida</p>
               <form action="">
                  <input type="text" placeholder="Buscar documento">
                  <button>
                     <i class="fas fa-search"></i>
                  </button>
               </form>
               <p>Tesis, Ensayos, Manuales y más...</p>
            </div>
         </div>
         <div class="content-rigth">
            <div class="fondo"></div>
            <div class="imagen">
               <img src="assets/images/img_header.png" alt="imagen libro con presonas">
            </div>
         </div>
      </section>
   </header>
   <main class="contenedor">
      <section class="seccion-ensayos ensayo">
         <div class="seccion-titulo">
            <div class="titulo">
               <h2>Ensayos</h2>
               <div class="subr"></div>
            </div>
            <div class="enlace">
               <a href="">Ver más</a>
               <i class="fas fa-chevron-right"></i>
            </div>
         </div>
         <div class="seccion-doc">
            <div class="ref-doc">
               <div class="portada">
                  <img src="assets/images/img-pdf.jpeg" alt="img-pdf">
               </div>
               <div class="describ">
                  <h3>Desarrollo de<br>aplicativo movil</h3>
                  <p>Ing. Carlos Elias Perez</p>
                  <span>20-001-2001</span>
               </div>
            </div>
            <div class="ref-doc">
               <div class="portada">
                  <img src="assets/images/img-pdf.jpeg" alt="img-pdf">
               </div>
               <div class="describ">
                  <h3>Desarrollo de<br>aplicativo movil</h3>
                  <p>Ing. Carlos Elias Perez</p>
                  <span>20-001-2001</span>
               </div>
            </div>
            <div class="ref-doc">
               <div class="portada">
                  <img src="assets/images/img-pdf.jpeg" alt="img-pdf">
               </div>
               <div class="describ">
                  <h3>Desarrollo de<br>aplicativo movil</h3>
                  <p>Ing. Carlos Elias Perez</p>
                  <span>20-001-2001</span>
               </div>
            </div>
            <div class="ref-doc">
               <div class="portada">
                  <img src="assets/images/img-pdf.jpeg" alt="img-pdf">
               </div>
               <div class="describ">
                  <h3>Desarrollo de<br>aplicativo movil</h3>
                  <p>Ing. Carlos Elias Perez</p>
                  <span>20-001-2001</span>
               </div>
            </div>
            <div class="ref-doc">
               <div class="portada">
                  <img src="assets/images/img-pdf.jpeg" alt="img-pdf">
               </div>
               <div class="describ">
                  <h3>Desarrollo de<br>aplicativo movil</h3>
                  <p>Ing. Carlos Elias Perez</p>
                  <span>20-001-2001</span>
               </div>
            </div>
         </div>
      </section>
      <!-- Secion Tesis -->
      <section class="seccion-ensayos">
         <div class="seccion-titulo">
            <div class="titulo">
               <h2>Tesis</h2>
               <div class="subr"></div>
            </div>
            <div class="enlace">
               <a href="">Ver más</a>
               <i class="fas fa-chevron-right"></i>
            </div>
         </div>
         <div class="seccion-doc">
            <div class="ref-doc">
               <div class="portada">
                  <img src="assets/images/img-pdf.jpeg" alt="">
               </div>
               <div class="describ">
                  <h3>Desarrollo de<br>aplicativo movil</h3>
                  <p>Ing. Carlos Elias Perez</p>
                  <span>20-001-2001</span>
               </div>
            </div>
            <div class="ref-doc">
               <div class="portada">
                  <img src="assets/images/img-pdf.jpeg" alt="img-pdf">
               </div>
               <div class="describ">
                  <h3>Desarrollo de<br>aplicativo movil</h3>
                  <p>Ing. Carlos Elias Perez</p>
                  <span>20-001-2001</span>
               </div>
            </div>
            <div class="ref-doc">
               <div class="portada">
                  <img src="assets/images/img-pdf.jpeg" alt="img-pdf">
               </div>
               <div class="describ">
                  <h3>Desarrollo de<br>aplicativo movil</h3>
                  <p>Ing. Carlos Elias Perez</p>
                  <span>20-001-2001</span>
               </div>
            </div>
            <div class="ref-doc">
               <div class="portada">
                  <img src="assets/images/img-pdf.jpeg" alt="img-pdf">
               </div>
               <div class="describ">
                  <h3>Desarrollo de<br>aplicativo movil</h3>
                  <p>Ing. Carlos Elias Perez</p>
                  <span>20-001-2001</span>
               </div>
            </div>
            <div class="ref-doc">
               <div class="portada">
                  <img src="assets/images/img-pdf.jpeg" alt="img-pdf">
               </div>
               <div class="describ">
                  <h3>Desarrollo de<br>aplicativo movil</h3>
                  <p>Ing. Carlos Elias Perez</p>
                  <span>20-001-2001</span>
               </div>
            </div>
         </div>
      </section>
      <!-- Seccion Información -->
      <section class="seccion-información" id="nosotros">
         <div class="img-libros">
            <img src="assets/images/img_libros.png" alt="img-libros">
         </div>
         <div class="seccion-info">
            <p>Contamos un sistema de evaluación que nos permite brindarles la<br>
               mejor calidad en información y un banco completo de datos</p>
            <div class="seccion-iconos">
               <div class="card-icono">
                  <div class="icono">
                     <img src="assets/images/img-doc.png" alt="documento">
                  </div>
                  <h3 class="text-icono">
                     Presentación<br>
                     de documento
                  </h3>
               </div>
               <div class="card-icono">
                  <div class="icono">
                     <img src="assets/images/img-adm.png" alt="administrador">
                  </div>
                  <h3 class="text-icono">
                     Recepcion y<br>
                     evaluacion del<br>
                     director acargo
                  </h3>
               </div>
               <div class="card-icono">
                  <div class="icono">
                     <img src="assets/images/img-grup.png" alt="docentes">
                  </div>
                  <h3 class="text-icono">
                     Evaluación de<br>
                     departe de la<br>
                     comición de<br>
                     tipificación
                  </h3>
               </div>
               <div class="card-icono">
                  <div class="icono">
                     <img src="assets/images/img-check.png" alt="correccion">
                  </div>
                  <h3 class="text-icono">
                     Aprovación<br>
                     y publicacion<br>
                     de documento
                  </h3>
               </div>
            </div>
         </div>
      </section>
   </main>
   <footer>
      <section class="contenedor seccion-footer">
         <div class="img-footer">
            <img src="assets/images/logo_unasam.png" alt="unasam">
         </div>
         <div class="text-footer">
            <div class="curso">
               <h2>Curso</h2>
               <p>Programación III</p>
               <p>Universidad Nacional<br>
                  Santiago Antúnez de Mayolo</p>
            </div>
            <div class="integrantes">
               <h2>Integrantes</h2>
               <p>Rickert Luis Gonzales Ramírez</p>
               <p>Cristian Jhon Espinoza Camones</p>
               <p>Jhon Carlos Salazar Nolasco</p>
               <p>Estefany Geraldine Vega Osorio</p>
               <p>Jhan Carlos Perez Macedo</p>
            </div>
            <div class="docente">
               <h2>Docente</h2>
               <p>Mst. Willfredo Trejo Flores</p>
            </div>
         </div>
      </section>
   </footer>
</body>

</html>
